Repository OpenRailAssociation/osrd-images, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Admins, @openrailassociation/OSRD-Front

nginx: fix config and dockerfile
  Dockerfile
  nginx-entrypoint.sh
Owners: @openrailassociation/OSRD-DevOps

nginx: fix config and dockerfile (#9)
  Dockerfile
  nginx-entrypoint.sh
Owners: @openrailassociation/OSRD-DevOps

docker: copy src in nginx container
  Dockerfile
Owners: @openrailassociation/OSRD-DevOps

docker: copy src in nginx container (#10)
  Dockerfile
Owners: @openrailassociation/OSRD-DevOps

docker: fix Dockerfile
  Dockerfile
Owners: @openrailassociation/OSRD-DevOps

readme: explain how to add new categories
  README.md
Owners: @openrailassociation/OSRD-Admins

readme: improve readme
  README.md
  assets/dimensions_and_weight.png
  assets/dimensions_and_weight.png.license
Owners: @openrailassociation/OSRD-Admins

README: improve README (#11)
  README.md
  assets/dimensions_and_weight.png
  assets/dimensions_and_weight.png.license
Owners: @openrailassociation/OSRD-Admins

clock: add clock 2 picture
  src/clock/2.jpg
  src/clock/2.jpg.license
Owners: @openrailassociation/OSRD-Front

readme: add archive mention
  README.md
Owners: @openrailassociation/OSRD-Admins

.github/CODEOWNERS:

# Copyright Â© 2022 The OSRD Contributors
#
# SPDX-License-Identifier: LGPL-3.0-only

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @openrailassociation/OSRD-DevOps
/Dockerfile                                              @openrailassociation/OSRD-DevOps
/nginx.*                                                 @openrailassociation/OSRD-DevOps
/.github/CODEOWNERS                                      @openrailassociation/OSRD-Admins
/*.md                                                    @openrailassociation/OSRD-Admins
/LICENSES                                                @openrailassociation/OSRD-Admins
/assets                                                  @openrailassociation/OSRD-Admins


# --- IMAGES - CATEGORIES ---
/src                                                     @openrailassociation/OSRD-Front
